DATABASE_URL="postgresql://diverpro:diverpro@localhost:5432/diverpro?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXT_PUBLIC_GOOGLE_AUTH_ENABLED="false"
GEOCODER_URL="https://photon.komoot.io"
